.button {
    color: var(--button-text);
    background-color: var(--button-background);

    .icon {
        color: var(--dock-item-icon-color, var(--button-text));
    }

    .dock-item.selected & {
        color: var(--button-text--selected);
        background-color: var(--button-background--selected);

        .divider:after {
            background-color: var(--button-background--selected);
        }

        .icon {
            color: var(--button-text--selected);
        }
    }

    .dock-item.passed & {
        color: var(--button-text--passed);
        background-color: var(--button-background--passed);

        .divider:after {
            background-color: var(--button-background--passed);
        }

        .icon {
            color: var(--button-text--passed);
        }
    }
}

.divider {
    &:after {
        border-color: var(--button-divider-color);
        background-color: var(--button-background);
    }
}
