.button {
    color: var(--button-text);
    background-color: var(--button-background);

    .icon {
        color: var(--dock-item-icon-color, var(--button-text));
    }

    .dock-item.selected & {
        color: var(--button-text--selected);
        background-color: var(--button-background--selected);

        .icon {
            color: var(--button-text--selected);
        }
    }
}
