.button {
    &:after {
        pointer-events: none;
        box-sizing: border-box;
        position: absolute;
        right: var(--selected-indicator-right);

        background-color: var(--button-text--selected);
        width: functions.pxToRem(2);
        height: calc(100% - #{functions.pxToRem(8)});
        border-radius: functions.pxToRem(6);
        opacity: 0.7;
    }

    &.selected {
        &:after {
            content: '';
        }
    }
}
