@use '../../style/functions';
@use '../../style/internal/variables';

/**
* @prop --dock-background-color: Background color of the whole compoentn, defaults to `--contrast-100`.
* @prop --dock-item-background-color: Background color of buttons, defaults to `--dock-background-color`.
* @prop --dock-item-background-color--selected: Background color of selected button, defaults to `--lime-primary-color`.
* @prop --dock-item-text-color: Text of buttons, defaults to `--contrast-1200`.
* @prop --dock-item-text-color--selected: Text color of selected button, defaults to `--lime-primary-color`.
* @prop --dock-item-icon-color: Color of the optional icons used in each button. Only affects inactive buttons, defaults to text colors for inactive, active, or passed button.
*/

:host {
    --button-height: 2.5rem;
    --selected-indicator-right: 0.25rem;
    --max-text-width: 10rem;

    box-sizing: border-box;
    width: 30%;
    display: grid;
    gap: functions.pxToRem(6);

    overflow-x: auto;
    scrollbar-width: none; // This hides the scrollbars appearing under in Firefox
    -ms-overflow-style: none; // Same as above for IE 11
    padding: functions.pxToRem(8); // needed for the focus effect

    box-shadow: #{functions.pxToRem(3)} 0 #{functions.pxToRem(6)} #{functions.pxToRem(
                -2
            )} rgba(var(--color-black), 0.15),
        #{functions.pxToRem(3)} 0 #{functions.pxToRem(10)} #{functions.pxToRem(
                -2
            )} rgba(var(--color-black), 0.05);

    height: 100%;
    background-color: var(--dock-background-color, rgb(var(--contrast-100)));

    &::-webkit-scrollbar {
        display: none; // This hides the scrollbars appearing under in Chrome
    }

    limel-popover {
        display: inline-grid;
        width: 100%;
    }
}

.first-dynamic-dock-item {
    margin-top: functions.pxToRem(12);
    padding-top: functions.pxToRem(12);
    border-top: 1px solid rgb(var(--contrast-600));
}
